* {
    font-family: "Parkinsans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.main-container {
    position: absolute;
    right: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.list-quiz, .list-user {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.list-quiz, .list-result {
    background: #f1f1f1;
}

.list-quiz .filter, .list-user .filter, .list-result .filter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.table-content {
    min-height: auto;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    margin: 0 15px 15px 15px;
}

.table-title {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 2px solid #E1DCD9;
    align-items: center;
}

.table-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-top: 2px solid #E1DCD9;
    height: 50px;
}

.add-quiz {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 10px;
    margin-right: 10px;
    background: #f1f1f1;
}

.form-ct {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 1px solid black; */
    margin-top: 10px;
    margin-bottom: 10px;
}




.add-admin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 10px;
    margin-right: 10px;
}

.admin {
    padding-left: 200px;
    padding-right: 200px;
    height: auto;
    background: #f1f1f1;
}

.admin .form-gr {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    gap : 10px
}

/* .add-quiz .quiz, .add-quiz .question {
    border: 1px solid slategray;
    width: 48%;
} */

.add-admin .admin {
    margin-left: 20px;
}

.form-gr {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

.input-gr {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 10px;
    padding-left: 20px;
}

.bttn {
    background: #1E646E;
    color: white;
    padding: 5px 10px;
    text-align: center;
    border-radius: 5px;
}

.bttn:hover{
    background: white;
    color: #1E646E;
    padding: 3px 8px;
    border: 2px solid;
}

.add-quiz input[type=text]{
    width: 50%;
}

/* #description {
    height: 60px;
} */

button[type=submit]{
    width: 100px;
    height: 30px;
    margin: 20px 50% 0 40%;
    
}


a {
    text-decoration: none;
    color: inherit;
}

.details {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

span {
    color: #023459;
    font-weight: bold;
}

.sbm {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.sbm button[type=submit] {
    width: 150px;
    height: auto;
    text-align: center;
}

.sbm div {
    margin-bottom: 25px;
}

/*#ques {*/
/*    margin-left: 30px;*/
/*}*/

#fm {
    margin-left: 30px;
}

/* .fm-ct td input{
    width: 400px;
} */



